@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
	color: #2c3e50;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 5%;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #2c3e50;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date, .read-time {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3px;
	color:#969696;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6{ font-family: 'Ubuntu', sans-serif; color: #739f40; }
h1 a,h2 a,h3 a,h4 a{ color: #739f40; }
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{ color: #7cc418; text-decoration:none; border-bottom:#7cc418 }

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #739f40; }

#nav-menu{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

/* Custom stuff */
pre {
	border-radius:2px;
}

.gogemba-box {
	max-width:140px;
	border:1px solid #ccc;
	border-radius:3px;
	margin:0 auto;
	padding:4px;
	text-align: center;
}

.ad-logo {
	background: url(https://s3-eu-west-1.amazonaws.com/blog.gogemba.com/gogemba-ad.png) no-repeat center center;
	text-indent: -9999px;
	display: block;
	margin: 5px auto;
	width: 72px;
	height: 64px;
	padding: 22px 0;
}

#contact-list {
	margin-bottom:10px;
}

@media (max-width: 435px) {

	.navbar-toggle {
		margin-top:16px;
	}

	/* Hidden */
	.hidden-xxs {
		display: none !important;
	}

	/* Visible */
	.visible-xxs {
		display: block !important;
	}
	table.visible-xxs {
		display: table;
	}
	tr.visible-xxs {
		display: table-row !important;
	}
	th.visible-xxs,
	td.visible-xss {
		display: table-cell !important;
	}
}

@media (max-width: 767px) {
	.navbar-toggle {
		margin-top:16px;
	}
}

#contact-list .btn-sm {
	width:38px;
}

::-moz-selection { text-shadow: none; background: #f9f7d1; }

::selection { text-shadow: none; background: #f9f7d1; }

.green-text {
	color:#739f40;
}

.dropdown-menu>li>a:hover {
	background: #f9f7d1;
	color:#333;
}